* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

nav {
    background-color: #FEFEDC;
    height: 5vh;
}

header {
    background-color: #FEDCFE;
    height: 20vh;
}

main{
    height: 70vh;
}

aside {
        height: 33.33%;
        width: 33.33%;
        float: left;
}

#contenido {
    background-color: #DCFEFE;
    height: 100%;
    width: calc(100% - 33.33%);
    float: right;

}

#aside1{
    background-color:#FEDCDC ;

}
#aside2{
    background-color:#DCFEDC ;
    
}
#aside3{
    background-color:#DCDCFE ;
}
footer{
    background-color: #D2D2D2;
    height: 5vh;
}